@{
    Layout = "~/Views/Shared/_PartialView.cshtml";
}

<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item active">Customer activity</li>
    </ol>
    <h1 class="page-header">Customer activity<small> </small></h1>
    <!-- end breadcrumb -->
    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-primary">
                <i class="fa fa-info-circle fa-lg m-r-5 pull-left m-t-2"></i>
                This report lists detailed activity per customer belonging to your account. You can use the filters to limit customers by their registration details.



            </div>
            @*<div class="form-group">
                    <label>Customer Activity</label> <input type="" name="" style="border: 1px solid #d3d8de;
                            box-shadow: none; font-size: 12px;
                            line-height: 1.42857143;
                            height: 34px; padding: 6px 12px;"> <label>Reference ID </label>

                </div>

                <div class="form-group">
                    <label>From</label> <input type="date" name="" style="border: 1px solid #d3d8de;
                            box-shadow: none; font-size: 12px;
                            line-height: 1.42857143;
                            height: 34px; padding: 6px 12px;"> To <input type="date" name="" style="border: 1px solid #d3d8de;
                            box-shadow: none; font-size: 12px;
                            line-height: 1.42857143;
                            height: 34px; padding: 6px 12px;">

                </div>*@


            <div class="row">
                <div class="col-12">
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Affiliate Invite Link</h4>
                        </div>
                        <div class="panel-body">
                           
                            <a href="#">content</a>

                        </div>
                    </div>
                </div>
              
